<!--
Chronos is a project scheduling / planning tool
It retrieves information from Trello and allow filter combinations:
- per Period - 1Y / 1Q / 1M / 1W (Past or Forecast)
- per People
- per Type - INVEST / PROD / POC / RUN
- per Project
TOKEN: https://trello.com/1/authorize?expiration=never&name=Chronos&scope=read&response_type=token&key=046e2330907f0ebb73bd1f18947a4308
-->
<link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAQMAAAD58POIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURQAAAP///6XZn90AAAAqSURBVEjHY2AYBUMZ/AeDUQEYF5UeFcBILqMCo8kBJceMlh//R6uRAQMAc1xesM5ImOcAAAAASUVORK5CYII=">
<style>
@import url(//cdn.rawgit.com/vbrajon/rawcss/2ca9981dd6113e5601bf42d75cb86d1ae4791923/raw.css);
@import url(//fonts.googleapis.com/css?family=Montserrat:100,400,700);
body { font-family: 'Montserrat', sans-serif; }
main { display: flex;flex-direction: column;align-items: center;width: 100%;height: 100%;min-height: fit-content;padding: 40px; }
main > h1 { font-size: 80px; }
main > hr { width: 600px; }
.filters { display: flex;align-items: center;justify-content: center; }
.filters > * { margin: 4px; }
.filters a:hover, .filters a.active, .filters a.default { padding-bottom: 4px;margin-bottom: -2px;border-bottom: 2px solid #fd4;text-decoration: none; }
.filters a.active, .filters a.default { font-weight: 900; }
.filters input { width: 40px;padding: 2px; }
.filters select { width: 60px;padding: 2px; }
.filters hr { height: 24px;border-left: var(--border); }
.member { display: flex;align-items: center;justify-content: center;width: 25px;height: 25px;border-radius: 50%;background: #d9d9d9;font-size: 12px; }
.report { width: 800px; }
.billable { background: #85bb65;border-radius: 4px;padding: 4px; }
</style>
<main>
  <h1>Chronos</h1>
  <div class="filters">
    <a v-href="{ member: member.initials }" v-for="member in trello.members?.filter(v => !['CM', 'WV', 'FJ', 'SB'].includes(v.initials))">
      <div class="member" :tt="member.fullName.format('title')" v-if="member.avatarUrl"><img :src="member.avatarUrl + '/50.png'" /></div>
      <div class="member" v-text="member.initials" :tt="member.fullName.format('title')" v-else></div>
    </a>
    <hr />
    <a :class="{ default: !router.state.period && period === month }" v-href="{ period }" v-for="period in [week, 'W' + (week.slice(1) - 1), month, months[months.findIndex(v => v === month) - 1], quarter, year].filter(v => !/(W|Q)0/.test(v))">{{ period }}</a>
    <label><input :value="router.state.period" @input="router.state = Object.assign({}, router.state, { period: $event.target.value })" /></label>
    <hr />
    <a v-href>RESET</a>
  </div>
  <hr />
  <div class="report">
    <h2 class="row">
      {{ router.state.period || month }} - {{ Math.round((cards.map('time').sum() * 100)) / 100 }}j
      <div style="margin-left: auto;" class="row center right">
        <a v-href="{ member: grp[0].member }" style="display: flex;flex-direction: column;place-content: center;margin: 10px;color: var(--text);text-decoration: none;" v-for="grp, i in cards.group('member').values().sort(grp => -grp.map('time').sum())">
          <div class="member" :tt="trello.members.find(m => m.initials === grp[0].member).fullName.format('title')" v-if="trello.members.find(m => m.initials === grp[0].member).avatarUrl">
            <img :src="trello.members.find(m => m.initials === grp[0].member).avatarUrl + '/50.png'" />
          </div>
          <div class="member" v-text="trello.members.find(m => m.initials === grp[0].member).initials" :tt="trello.members.find(m => m.initials === grp[0].member).fullName.format('title')" v-else></div>
          <div style="font-size: 20px;text-align: center;">{{ grp.map('time').sum() }}</div>
        </a>
      </div>
    </h2>
    <div class="column" style="color: var(--text);text-decoration: none;align-items: unset;justify-content: unset;padding: 4px;border: var(--border);border-radius: 4px;" v-for="group in ['type', 'project']">
      <div class="row">
        <a v-href="{ [group]: grp[0][group] }" style="flex: 1;height: 28px;color: var(--text);text-decoration: none;" class="row center" v-for="grp, i in cards.group(group).values().sort(grp => -grp.map('time').sum()).slice(0, 5)">
          <div style="width: 10px;height: 10px;border-radius: 50%;margin-right: 4px;" :style="{ background: colors[grp[0][group]] || colors.values()[i] || '#b3bac5' }"></div>
          <div style="font-weight: 600;margin-right: 4px;">{{ grp[0][group] }}</div>
          <div style="font-weight: 600;color: #6a737d;margin-right: 4px;">{{ Math.round(grp.map('time').sum() / cards.map('time').sum() * 100) + '%' }}</div>
        </a>
      </div>
      <div style="height: 8px;" class="row">
        <a v-href="{ [group]: grp[0][group] }" style="border: 1px solid white;" :style="{ width: (grp.map('time').sum() / cards.map('time').sum() * 99) + '%', height: '8px', background: colors[grp[0][group]] || colors.values()[i] || '#b3bac5' }" :tt="[grp[0][group], Math.round(grp.map('time').sum() / cards.map('time').sum() * 100) + '%', grp.map('time').sum() + 'j'].join(' / ')" v-for="grp, i in cards.group(group).values().sort(grp => -grp.map('time').sum())"></a>
      </div>
    </div>

    <div style="margin: 10px 0;padding: 12px;border: var(--border);border-radius: 4px;" class="column" v-for="grp in cards.group('project').values().sort(grp => -grp.map('time').sum())">
      <div class="row center">
        <a style="font-size: 2em;font-weight: 600;color: var(--text);" v-href="router.state.subproject ?{ project: grp[0].project, subproject: router.state.subproject } : { project: grp[0].project }" :style="[projects_list[grp[0].project] ? { color: 'black' } : {color:'red'}]">{{ grp[0].project }}</a>
        <a style="padding: 8px" v-if="router.state.project" v-for="subproject in grp.map(d => d.subproject).filter().unique()" v-href="{ subproject }"> {{ subproject }} </a>
        <div style="margin-left: auto;font-weight: 600;color: #6a737d;">{{ Math.round(grp.map('time').sum() / cards.map('time').sum() * 100) }}%</div>
        <div v-if="projects_list[grp[0].project] && projects_list[grp[0].project].billable" style="margin-left: 10px;font-size: 1em;font-weight: 600;">(billable: {{ grp.filter(d => d.billable).map('time').sum() }}j)</div>
        <div style="margin-left: 10px;font-size: 2em;font-weight: 600;">{{ grp.map('time').sum() }}j</div>
      </div>

      <template v-if="months.includes(router.state.period || month) && trello.lists.find(v => v.name.startsWith(router.state.period || month))">
        <div style="margin: 12px -12px -12px -12px;padding: 12px;border-top:  var(--border);" v-for="card in trello.cards.filter(c => c.name.split(' - ')[0] === grp[0].project && c.idList === trello.lists.find(v => v.name.startsWith(router.state.period || month)).id)">
          <a :href="card.shortUrl" target="_blank" style="font-weight: 600;" :style="{ color: card.dueComplete ? 'green' : 'red' }">{{ card.name.replace(grp[0].project, card.due && card.due.slice(0, 10)) }}</a>
        </div>
      </template>

      <template v-if="router.state.project === grp[0].project || /W\d+/.test(router.state.period)">
        <div style="position: relative;margin: 12px -12px -12px -12px;padding: 12px;border-top:  var(--border);" v-for="ticket in grp">
          <a :href="ticket.url" target="_blank" style="padding-right: 100px;color: var(--text);">{{ ticket.task }}</a>
          <div class="billable" style="position: absolute;top: 12px;right: 100px;color: var(--primary);" tt="NOT BILLABLE" v-if="projects_list[grp[0].project] && projects_list[grp[0].project].billable && !ticket.billable"> NB </div>
          <div style="position: absolute;top: 12px;right: 60px;" class="member" :tt="trello.members.find(m => m.initials === ticket.member).fullName.format('title')" v-if="trello.members.find(m => m.initials === ticket.member).avatarUrl">
            <img :src="trello.members.find(m => m.initials === ticket.member).avatarUrl + '/50.png'" />
          </div>
          <div class="member" style="position: absolute;top: 12px;right: 60px;color: var(--primary);" v-text="trello.members.find(m => m.initials === ticket.member).initials" :tt="trello.members.find(m => m.initials === ticket.member).fullName.format('title')" v-else></div>
          <b style="position: absolute;top: 12px;right: 12px;font-weight: 600;">{{ ticket.time }}j</b>
        </div>
      </template>
    </div>
  </div>
</main>

<script type="module">
  const projects_list = {
    "LFRA": { billable: true },
    "AMI": { billable: true },
    "SCH": { billable: true},
    "CED": { billable: true},
    "MAN": { billable: true},
    "NAT": { billable: true},
    "MOA": { billable: true},
    "RIC": { billable: true},
    "DCI": { billable: true},
    "LBPAM": { billable: true},
    "CON": { billable: true},
    "CACEIS": { billable: true},
    "GROUPAMA": { billable: true},
    "OFF": { billable: false},
    "OTHER": { billable: false},
    "PIPELINE": { billable: false},
    "HAURU": { billable: false},
    "GREENROCK": { billable: false},
    "COMMANDR": { billable: false},
    "CALCIFER": { billable: false},
    "PLATFORM": { billable: false},
    "VISAGE": { billable: false},
    "ROADMAP": { billable: false},
}
import 'https://vbrajon.github.io/rawjs/raw.js'
import Vue from 'https://unpkg.com/vue@2.6.10/dist/vue.esm.browser.js'
Vue.config.productionTip = false
// Mini Vue router
window.router = {
  pathname: location.pathname,
  search: location.search,
}
window.addEventListener('click', e => {
  let el = e.target
  while (el.parentNode !== document.body) {
    if (el.href) {
      window.history.pushState({}, null, el.href)
      window.dispatchEvent(new Event('router'))
      return e.preventDefault()
    }
    el = el.parentNode
  }
})
window.addEventListener('popstate', e => window.dispatchEvent(new Event('router')))
window.addEventListener('router', e => {
  router.pathname = location.pathname
  router.search = location.search
})
// TODO: v-href should be equal to:
// :href="fn(...)"
// :class="{ active: fn(...) }"
// N2H: an input shortcut similar to v-model
// :value="router.state.week"
// @input="router.state = Object.assign({}, router.state, { week: $event.target.value })"
Vue.directive('href', (el, binding, vnode) => {
  let link
  if (!binding.value) link = location.pathname
  if (typeof binding.value === 'string') link = binding.value
  if (typeof binding.value === 'object') {
    const state = router.state.map()
    el.classList[binding.value.keys().every(k => state[k] == binding.value[k]) ? 'add' : 'remove']('active') // ===
    binding.value.map((v, k) => state[k] === v ? delete state[k] : state[k] = v)
    link = state.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
  }
  el.classList[[location.pathname + location.search, location.search].includes(link) ? 'add' : 'remove']('exact')
  el.setAttribute('href', link)
})
Vue.mixin({
  data() {
    router.state = {}
    return { router }
  },
  watch: {
    'router.search': {
      handler(next) {
        router.state = (router.search || '?').slice(1).split('&').filter().reduce((acc, str) => { const [k, v] = str.split('=');acc[k] = v;return acc }, {})
      },
      immediate: true,
    },
    'router.state': {
      handler(next) {
        if (!next.keys().length) return
        const link = next.reduce((acc, v, k) => `${acc}&${k}=${v}`, '?').replace('?&', '?').replace(/^\?$/, location.pathname)
        if (link === router.search) return
        window.history.pushState({}, null, link)
        window.dispatchEvent(new Event('router'))
      },
      deep: true,
    },
  },
})

window.months = Vue.prototype.months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
window.colors = Vue.prototype.colors = { INVEST: '#60bd4f', IMPLEM: '#f2d602', RUN: '#ff9f19', MISC: '#eb5a46', FRONT: '#c377e0', BACK: '#0279bf', OPS: '#03c2e0', 8: '#51e897', 9: '#ff78cb', 10: '#344563' }
new Vue({
  el: 'main',
  data: {
    trello: {},
    tickets: [],
    week: 'W' + (new Date().getWeek() + 1),
    quarter: 'Q' + new Date().getQuarter(),
    month: months[new Date().getMonth()],
    year: new Date().getFullYear(),
    projects_list: projects_list,
  },
  computed: {
    cards() {
      return this.tickets
        .filter(v => {
          const period = router.state.period || this.month
          if (router.state.member && router.state.member !== v.member) return false
          if (router.state.project && router.state.project !== v.project) return false
          if (router.state.subproject && router.state.subproject !== v.subproject) return false
          if (router.state.type && router.state.type !== v.type) return false
          if (/^W\d+$/.test(period) && period !== v.week) return false
          if (months.includes(period) && period !== v.month) return false
          if (/^Q\d$/.test(period) && period !== v.quarter) return false
          return true
        })
    },
  },
  watch: {
    'router.state.period': {
      async handler(period) {
        if (!this.trello.name) period = 2021
        if (!/^\d{4}$/.test(period) || this.trello.name?.includes(period)) return
        this.trello = {}
        this.tickets = []
        const boards = { 2021: 'uNyruS5L', 2020: 'MLd6LVhv', 2019: 'dn8XQPP7' }
        const board = boards[period] || router.state.board
        const json = await (await fetch(`https://trello.com/b/${board}/100m-prod.json?key=046e2330907f0ebb73bd1f18947a4308&token=52431443c595002aa9fc45d54a11e9a4b5797c1a1e1dccc948a5f8efbcb3c5d1&cards=all&lists=all&checklists=all&members=all`)).json()
        const soy = new Date('' + new Date().getFullYear())
        window.trello = this.trello = Object.freeze(json)
        window.tickets = this.tickets = Object.freeze(
          trello.cards
            .filter(v => /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(v.name))
            .map(card => {
              const url = card.shortUrl
              const matches = /([^-]*)-(.*)\[([.0-9]+).*\]/.exec(card.name)
              const project = matches[1].trim()
              const task = matches[2].trim()
              let subproject = null
              if (['NAT', 'LFRA', 'DCI', 'AMI', 'MAN'].includes(project)) {
                // NAT only, require some trello ticket clean before enable all projects
                subproject = task.includes('-') ? task.split('-')[0].trim().upper() : null
              }
              const time = +matches[3]
              const labels = card.labels.map('name')
              const type = labels.find(v => ['IMPLEM', 'INVEST', 'RUN'].includes(v)) || 'MISC'
              const billable = (projects_list[project] && projects_list[project].billable  && !labels.includes('NOT BILLABLE')) || false
              const week = trello.lists.find(v => v.id === card.idList).name
              const find_month_by_week = (week) => months[Math.min(Math.ceil((week.slice(1) * 7) / 30) - 1, 11)]
              let month = find_month_by_week(week)
              const quarter = 'Q' + Math.ceil(week.slice(1) / 13)
              const year = +card.dateLastActivity.slice(0, 4) - (week >= 'W50' && card.dateLastActivity.slice(5, 7) === '01' ? 1 : 0)
              const members = (card.idMembers || []).map(mid => trello.members.find(v => v.id === mid))
              const member = (members[0] || {}).initials || 'B' // Leaver fallback to bot.100m.io
              return { url, project, subproject, labels, type, billable, task, time, member, week, month, quarter, year }
            })
            .filter(v => {
              if (!/^W\d+$/.test(v.week)) return false
              if (['CM', 'WV', 'FJ', 'SB'].includes(v.member)) return false
              if (!v.member) return console.log('Card without member', v.url)
              return true
            })
        )
      },
      immediate: true,
      deep: true,
    },
  },
})
</script>
